@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  
  all: initial; 
  display: block;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.5;
}

/* The issue is font family is being inherited */